<h1>Editing user_data</h1>

<% form_for(@user_data) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @user_data %> |
<%= link_to 'Back', user_datas_path %>